
<app-navbar></app-navbar>

<div style=" margin-top: 90px;" >
  <div class="row">

<div class="container">
    <div  style=" align-items: center;
  display: flex;
  justify-content: center;"
>
  <button
  (click)="update_numtel()"
  class="btn btn-primary btn-lg"
  

    >      <img src="../../assets/imageang/numtel.svg" style="height: 50px; width: 50px; ">

    Modifier Num° Telephone
    </button>
    <button
      (click)="update_mail()"
      class="btn btn-primary btn-lg"


    >
    <img src="../../assets/imageang/email.svg" style="height: 50px; width: 50px; ">

    Modifier L'Adresse Mail
    </button>
    <button
    (click)="update_adresse()"
    class="btn btn-primary btn-lg"


  >
  <img src="../../assets/imageang/adresse.svg" style="height: 50px; width: 50px; ">

  Modifier L'Adresse Physique
  </button>
</div>
   <form   #form="ngForm" (ngSubmit)="EnvoyerCode()" style="width: 100%; margin: 0 auto;" ngNativeValidate>

<small class="text-danger">{{msg}}</small>

<div class="row"  *ngIf="showMsg">
  <div class="col-xs-12">
    <p class="alert alert-success">
        <strong>Registration Success!</strong> Please click here to login!.

    </p>
  </div>
</div>
    <div class="form-group" style="margin-top: 20px;">

      <label *ngIf="input_numtel" for="updatebumtel"  style="float: left ; margin-top: 20px; font-weight:bold;" >Ecrivez votre Num tel</label>
      <input  required *ngIf="input_numtel"  class="form-control" type="number" name="numtel" [(ngModel)]="updatecitoyenform.newnumtel">

      <label *ngIf="input_email" for="updateemail"  style="float: left ; margin-top: 20px; font-weight:bold;" >Ecrivez votre Email</label>
      <input *ngIf="input_email" required   type="email"   class="form-control"  name="email" [(ngModel)]="updatecitoyenform.newemail">

      <div class="form-group" *ngIf="input_adresse">
        <label  style="float: left ; margin-top: 20px; font-weight:bold;" for="exampleFormControlSelect1">Gouvernorat</label>
        <select required (change)="selectOption($event.target.value)" class="form-control" id="exampleFormControlSelect1">
          <option value="" >Veuillez choisir la gouvernorat</option>
          <option value="Ariena" >Ariena</option>
          <option value="Tunis">Tunis</option>
          <option value="Beja">Beja</option>
         </select>
      </div>
      <div class="form-group"  *ngIf="input_adresse">
        <label  style="float: left ; margin-top: 20px; font-weight:bold;" for="exampleFormControlSelect1">Delegation</label>
        <select required (change)="selectOption2($event.target.value)" class="form-control" id="exampleFormControlSelect1">

          <option value="" >Veuillez choisir la Delegation</option>


          <option *ngFor="let item of Delegation"  [value]="item?.name" > {{ item?.name }}</option>
         </select>
      </div>
      <div class="form-group" *ngIf="input_adresse" >
        <label  style="float: left ; margin-top: 20px; font-weight:bold;" for="exampleFormControlSelect1">Localité</label>
        <select required (change)="selectOption3($event.target.value)" class="form-control" id="exampleFormControlSelect1">
          <option value="" >Veuillez choisir la localite</option>

          <option *ngFor="let item of Localite"  [value]="item?.name"  > {{ item?.name }}</option>
        </select>

      </div>
      <div class="form-group" *ngIf="input_adresse" >
        <label  style="float: left ; margin-top: 20px; font-weight:bold;" for="exampleFormControlSelect1">Code Postal</label>
        <select required (change)="selectOption4($event.target.value)" class="form-control" id="exampleFormControlSelect1" name="code_postal" [(ngModel)]="updatecitoyenform.newzip">
          <option value="" >Veuillez choisir le code postal</option>

          <option  *ngFor="let item of Zipcode"  [value]="item?.name"  > {{ item?.name }} </option>
        </select>

      </div>


      <label *ngIf="input_adresse" for="reclamation"  style="float: left ; margin-top: 20px; font-weight:bold;" >Ecrivez votre Adresse</label>
      <input   required  *ngIf="input_adresse"  class="form-control"  name="reclamations" [(ngModel)]="updatecitoyenform.newadresse">


    </div>
    
    <h5 *ngIf="afficherinputverification" for="reclamation" >Code Verification</h5>

        <div *ngIf="afficherinputverification" class="input-group form-group-no-border input-lg" >

          <div class="input-group-prepend">
              <span class="input-group-text"><i class="now-ui-icons tech_mobile"></i></span>
          </div>
            <input required  [(ngModel)]="updatecitoyenform.code"  [ngModelOptions]="{standalone: true}" type="text" placeholder="Nouvelle Information" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
        </div>
        <button type="submit" *ngIf="!afficherinputverification && affichierbuttonenvoyer "  class="btn btn-primary btn-round btn-lg btn-block">Envoyer </button>

   </form>
   <button type="submit"  *ngIf="afficherinputverification"   (click)="Verifier()" class="btn btn-primary btn-round btn-lg btn-block">Verifier et Modifier </button>

</div>


</div>
</div>
