<nav  class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <ul class="navbar-nav ">
    <li class="nav-item active">
       <a class="nav-link" [routerLink]="['accueil']">Accueil</a>

    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['detailscitoyens']">Details citoyen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['mesreclamation']">A propos</a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
<div class="col-md-8">
<img  src="./../../../assets/imageang/img5.svg"  style="height: 80%; margin-top: 23px;">
</div>
<div class="col-md-4" style="text-align: center;  margin-top: 60px;">
  <img  src="../../assets/imageang/reclamation.webp" style="width: 80%;">
<div class="container">
   <form #form="ngForm" (ngSubmit)="addreclamation()" style="width: 100%; margin: 0 auto;">

<small class="text-danger">{{msg}}</small>

    <div class="form-group" style="margin-top: 20px;">


      <div class="form-group" >
        <label  style="float: left ; margin-top: 20px; font-weight:bold;" for="exampleFormControlSelect1">Attribut a changer</label>
        <select (change)="selectOption($event.target.value)" class="form-control" id="exampleFormControlSelect1">
          <option value="" >Veuillez choisir l'attribut</option>
          <option value="Nom" >Nom</option>
          <option value="Prenom">Prenom</option>
          <option value="Prénom du père">Prénom du père</option>
          <option value="Prénom du grand-père" >Prénom du grand-père</option>
          <option value="Nom de la mère">Nom de la mère</option>
          <option value="Prénom du mére">Prénom de la mère</option>
          <option value="Date de naissance" >Date de naissance</option>
          <option value="Commune de naissance">Commune de naissance</option>
          <option value="Arrondissement de naissance ">Arrondissement de naissance</option>
          <option value="Année de naissance" >Année de naissance</option>
          <option value="Numéro acte de naissance">Numéro acte de naissance</option>
          <option value="Situation familiale">Situation familiale</option>
          <option value="Date de la situation familiale" >Date de la situation familiale</option>
          <option value="IUC du conjoint">IUC du conjoint</option>
          <option value="IUC du père">IUC du père </option>
          <option value="IUC de la mère" >IUC de la mère</option>
          <option value="Date de décès">Date de décès</option>
          <option value="Commune de décès">Commune de décès</option>
          <option value="Année acte de décès" >Année acte de décès</option>
          <option value="Arrondissement  de décès">Arrondissement  de décès</option>
          <option value="Numéro acte de décès "> Numéro acte de décès</option>



         </select>
      </div>



      <label for="reclamation"  style="float: left ; margin-top: 20px; font-weight:bold;" >Nouvelle Information</label>
      <input  required    class="form-control"  name="reclamations" [(ngModel)]="reclamationfromform.reclamations">

    </div>
    <button type="submit" class="btn btn-info" style="width: 100%">Ajouter</button>
  </form>

</div>


</div>
</div>
