

<div class="card card-login card-plain" style="margin-top: 50px;">
  <form class="form" #form="ngForm" (ngSubmit)="userlogin()">
    <small class="text-danger">{{msg}}</small>
      <div class="header header-primary text-center">
          <div class="category">
              <img src="../../assets/imageang/img2.jpg" style ="width:20%; height:20%;" >
          </div>
      </div>
      <h5 >Numéro de Téléphone:</h5>

      <div class="content">

        <div class="input-group form-group-no-border input-lg" >

          <div class="input-group-prepend">
              <span class="input-group-text">  <i class="now-ui-icons tech_mobile"></i></span>
         
            </div>
            <input  type="number" class="form-control"  placeholder="99000111" name="numtel" [(ngModel)]="user.numtel">

        </div>
        <h5 for="reclamation" >Numero carte d'identité :</h5>

        <div class="input-group form-group-no-border input-lg" >
          
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
          </div>
          <input type="number" class="form-control"  placeholder="12345678" name="cin" [(ngModel)]="user.cin">
        </div>
      </div>
      <div class="footer text-center">
          <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Login </button>
      </div>
    
      
  </form>
</div>


