

<div class="container">
  <h2>Verification OTP</h2>
  <form #loginform="ngForm" (ngSubmit)="sendotp()">

<small class="text-danger">{{msg}}</small>

    <div class="form-group">
      <label for="otp">code reçu par sms</label>
      <input type="number" class="form-control"    placeholder="999999" name="otp" [(ngModel)]="user.otp">
    </div>
    <div class="form-group">
      <label for="numtel">Retaper votre numero de telephone</label>
      <input type="number" class="form-control"    placeholder="52000000" name="numtel" [(ngModel)]="user.numtel">
    </div>


    <button type="submit" class="btn btn-info">Verifier</button>
  </form>

</div>



