<ngb-alert *ngIf="erreur" style="background-color:#f55549"  _ngcontent-c5="" class="alert alert-danger" role="alert">
<div _ngcontent-c5="" class="container"><div _ngcontent-c5="" class="alert-wrapper">
   <div _ngcontent-c5="" class="message">
    <div _ngcontent-c5="" class="alert-icon">
    <i _ngcontent-c5="" class="now-ui-icons ui-1_bell-53"></i></div>
<strong _ngcontent-c5="">Erreur </strong>veuillez vérifier les coordonnées saisies</div></div></div></ngb-alert>
 <div style="  position: absolute;
top: 50%;
left: 50%;
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);">
<div class="container">
  <div class="row">
 
<div >
  <img  src="../../assets/imageang/img3.svg" style="width: 70%; margin-top: 90px;">
<div class="container">
   <form  ngNativeValidate #loginform="ngForm" (ngSubmit)="sendotp()" style="width: 100%; margin: 0 auto;">
    <div *ngIf="showspinner" class="d-flex justify-content-center"> 
      <div class="spinner-border" role="status"> 
          <span class="sr-only" id="loading"></span> 
      </div> 
  </div> 
    <div class="form-group" style="margin-top: 20px;">
      <label for="otp"  style="float: left ; margin-top: 20px; font-weight:bold;" >Veuillez entrer le code reçu par sms</label>
      <input required type="number" class="form-control"    placeholder="999999" name="otp" [(ngModel)]="user.otp">
    </div>
    <button type="submit" class="btn btn-primary" style="width: 100%">Verifier</button>
  </form>
</div>
</div>
</div>
</div>