

<div class="container">
  <div class="row">
<div class="col-md-8">
<img  src="../../assets/imageang/img1.jpg"  style="height: 80%; margin-top: 23px;">
</div>
<div class="col-md-4" style="text-align: center;  margin-top: 50px;">
  <img  src="../../assets/imageang/img2.jpg" style="width: 60%;">

   <form #loginform="ngForm" (ngSubmit)="userlogin()" style="width: 100%; margin: 0 auto;" >
<small class="text-danger">{{msg}}</small>
    <div class="form-group">
      <label for="numtel" style="float: left; font-weight:bold;">Numéro de Téléphone:</label>
      <input  type="number" class="form-control"  placeholder="99000111" name="numtel" [(ngModel)]="user.numtel">
    </div>
    <div class="form-group">
      <label for="cin" style="float: left; font-weight:bold; ">Numero carte d'identité :</label>
      <input type="number" class="form-control"  placeholder="12345678" name="cin" [(ngModel)]="user.cin">
    </div>

    <button type="submit" class="btn btn-info" style="width: 100%">Login</button>
  </form>
</div>
</div>
