<nav class="navbar navbar-expand-lg bg-primary fixed-top  " color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <div style="width: 30px;"> 
         <img src="./.././../../assets/imageang/armoirie.png">
        </div>
         </div>
      </div>
      
       <p style="color: blanchedalmond;"> Portail Citoyen</p>
   
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a target="_self"  [routerLink]="['../detailscitoyens']"  class="nav-link">
                      <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                      <p>Mes Données</p>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_self"  [routerLink]="['../update']">
                    <i class="now-ui-icons arrows-1_refresh-69"></i>
                    <p>Mise A jour  Données</p>
                </a>
            </li>
                <li class="nav-item">
                    <a target="_self"  [routerLink]="['../utilisation_site_cit']" class="nav-link">
                      <i class="now-ui-icons ui-1_lock-circle-open"></i>
                      <p>Manip De Données</p>
                    </a>
                </li>
                <li class="nav-item">
                  <a  target="_self" class="nav-link" [routerLink]="['../mesreclamation']"  >
                    <i class="now-ui-icons ui-1_send"></i>
                    <p> Reclamations</p>
                  </a>
              </li>
              
              <li class="nav-item">
                <a  target="_self" class="nav-link" [routerLink]="['../papier']"  >
                  <i class="now-ui-icons business_badge"></i>
                  <p>pièce d'identité</p>
                </a>
            </li>
              <li class="nav-item">
                <a  target="_self" class="nav-link" [routerLink]="['../messignale']"  >
                  <i class="now-ui-icons ui-1_settings-gear-63"></i>
                  <p>Signalement</p>
                </a>
            </li>
            <li class="nav-item">
              <a  class="nav-link"  target="_self" [routerLink]="['../']">
                <i class="now-ui-icons objects_key-25"></i>
                <p>Quitter</p>
              </a>
           </li>

               
             </ul>
        </div>
    </div>
</nav>
