
<div class="container">
  <div class="row">
<div class="col-md-8">
<img  src="../../assets/imageang/img1.jpg"  style="height: 80%; margin-top: 23px;">
</div>
<div class="col-md-4" style="text-align: center;  margin-top: 60px;">
  <img  src="../../assets/imageang/img3.svg" style="width: 80%;">
<div class="container">
   <form #loginform="ngForm" (ngSubmit)="sendotp()" style="width: 100%; margin: 0 auto;">

<small class="text-danger">{{msg}}</small>

    <div class="form-group" style="margin-top: 20px;">
      <label for="otp"  style="float: left ; margin-top: 20px; font-weight:bold;" >Veuillez entrer le code reçu par sms</label>
      <input type="number" class="form-control"    placeholder="999999" name="otp" [(ngModel)]="user.otp">
    </div>



    <button type="submit" class="btn btn-info" style="width: 100%">Verifier</button>
  </form>

</div>


</div>
</div>
