<app-navbar></app-navbar>
  <div class="header header-primary text-center">
    <div class="category">
        <img src="../../assets/imageang/reclamation.webp" style ="width:30%; height:20%; margin-top: 70px;" >
    </div>
</div>
<ngb-alert *ngIf="erreur" style="background-color:#f55549"  _ngcontent-c5="" class="alert alert-danger" role="alert">
  <div _ngcontent-c5="" class="container"><div _ngcontent-c5="" class="alert-wrapper">
     <div _ngcontent-c5="" class="message">
      <div _ngcontent-c5="" class="alert-icon">
      <i _ngcontent-c5="" class="now-ui-icons ui-1_bell-53"></i></div>
  <strong _ngcontent-c5="">Erreur </strong>veuillez vérifier les coordonnées saisies</div></div></div></ngb-alert>

  <form  ngNativeValidate class="form" #form="ngForm" (ngSubmit)="EnvoyerCode()"  >
    
    <div *ngIf="showspinner" class="d-flex justify-content-center"> 
      <div class="spinner-border" role="status"> 
          <span class="sr-only" id="loading"></span> 
      </div> 
  </div> 
    
      <h5 >Attribut a changer</h5>

      <div class="content">

        <div class="input-group form-group-no-border input-lg" >

          <div class="input-group-prepend">
              <span class="input-group-text">  <i class="now-ui-icons loader_gear spin"></i></span>
         
            </div>
          <select   (change)="selectOption($event.target.value)" class="form-control" id="exampleFormControlSelect1" required>
            <option value="" >Veuillez choisir l'attribut</option>
            <option value="Nom" >Nom</option>
            <option value="Prenom">Prenom</option>
            <option value="Prénom du père">Prénom du père</option>
            <option value="Prénom du grand-père" >Prénom du grand-père</option>
            <option value="Nom de la mère">Nom de la mère</option>
            <option value="Prénom du mére">Prénom de la mère</option>
            <option value="Date de naissance" >Date de naissance</option>
            <option value="Commune de naissance">Commune de naissance</option>
            <option value="Arrondissement de naissance ">Arrondissement de naissance</option>
            <option value="Année de naissance" >Année de naissance</option>
            <option value="Numéro acte de naissance">Numéro acte de naissance</option>
            <option value="Situation familiale">Situation familiale</option>
            <option value="Date de la situation familiale" >Date de la situation familiale</option>
            <option value="IUC du conjoint">IUC du conjoint</option>
            <option value="IUC du père">IUC du père </option>
            <option value="IUC de la mère" >IUC de la mère</option>
            <option value="Date de décès">Date de décès</option>
            <option value="Commune de décès">Commune de décès</option>
            <option value="Année acte de décès" >Année acte de décès</option>
            <option value="Arrondissement  de décès">Arrondissement  de décès</option>
            <option value="Numéro acte de décès "> Numéro acte de décès</option>
  
  
  
           </select>
        </div>
        <h5 for="reclamation" >Nouvelle Information</h5>

        <div class="input-group form-group-no-border input-lg" >
          
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="now-ui-icons files_paper"></i></span>
          </div>
            <input  [(ngModel)]="reclamationfromform.reclamations"  [ngModelOptions]="{standalone: true}" type="text" placeholder="Nouvelle Information" class="form-control" (focus)="focus1=true" (blur)="focus1=false" required />
        </div>

        <h5 *ngIf="afficherinputverification" for="reclamation" >Code Verification</h5>

        <div *ngIf="afficherinputverification" class="input-group form-group-no-border input-lg" >

          <div class="input-group-prepend">
              <span class="input-group-text"><i class="now-ui-icons tech_mobile"></i></span>
          </div>
            <input  required class="form-control"[(ngModel)]="reclamationfromform.code"  [ngModelOptions]="{standalone: true}" type="text" placeholder="Nouvelle Information" class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
        </div>
      </div>
     
   
    
      <button *ngIf="!afficherinputverification" type="submit"   class="btn btn-primary btn-round btn-lg btn-block" >Envoyer </button>
  
  </form>
  <button *ngIf="afficherinputverification" type="submit"  (click)="Verifier()" class="btn btn-primary btn-round btn-lg btn-block">Verifier et Ajouter </button>

  <div class="footer text-center">

  </div>


