<nav  class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <ul class="navbar-nav ">
    <li class="nav-item active">
       <a class="nav-link" [routerLink]="['accueil']">Accueil</a>

    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['detailscitoyens']">Details citoyen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['mesreclamation']">A propos</a>
    </li>
  </ul>
</nav>

  <table class="table table-striped" >
    <tr>
      <th scope="col">#</th>
      <th scope="col">Reclamation</th>


  <tr  *ngFor="let reclamation of reclamations ; index as i"  >
    <th scope="row">{{ i + 1 }}</th>

    <td >
      {{ reclamation?.reclamations }}
    </td>


  </tr>
</table>
<button type="submit" class="btn btn-info" style="width: 20% ; margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">Ajouter une Reclamation</button>

