
<app-navbar></app-navbar>
 
<div style=" margin-top: 90px;">
    <ngb-alert *ngIf="erreur" style="background-color:#f55549"  _ngcontent-c5="" class="alert alert-danger" role="alert">
      <div _ngcontent-c5="" class="container"><div _ngcontent-c5="" class="alert-wrapper">
         <div _ngcontent-c5="" class="message">
          <div _ngcontent-c5="" class="alert-icon">
          <i _ngcontent-c5="" class="now-ui-icons ui-1_bell-53"></i></div>
      <strong _ngcontent-c5="">Erreur </strong>une erreur est survenue lors du chargement de ce contenu</div></div></div></ngb-alert>
      <div id="document"> 
<div class="table-responsive"  >
  <ngx-qrcode
  [elementType]="elementType"
  [errorCorrectionLevel]="correctionLevel"
  [value]="value"
  cssClass="bshadow"></ngx-qrcode>
  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
    <p class="category">Tabs with Icons on Card</p>
    <!-- Nav tabs -->

    <div class="card">
      <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
              <ngb-tabset [justify]="'center'" class="text-center">
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <i class="now-ui-icons objects_umbrella-13"></i> Home
                    </ng-template>
                      <ng-template ngbTabContent>
                        citoyen?.date_de_naissance 
                        </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <i class="now-ui-icons shopping_cart-simple"></i> Profile
                    </ng-template>
                      <ng-template ngbTabContent>
                          <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="now-ui-icons shopping_shop"></i> Messages
                    </ng-template>
                      <ng-template ngbTabContent>
                          <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle>
                      <i class="now-ui-icons ui-2_settings-90"></i> Settings
                    </ng-template>
                      <ng-template ngbTabContent>
                        <p>
                            "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                        </p>
                      </ng-template>
                  </ngb-tab>
              </ngb-tabset>
          </div>
      </div>
    </div>
</div>
    <table class="table" id="document" >
    <tr>
      <th>UIC</th>
      <th>nom</th>
      <th>prenom</th>
      <th>Prénom du père</th>
      <th>Prénom du grand-père paternel</th>
      <th>Nom de la mère</th>
      <th>Prénom de la mère</th>
      <th>Date de naissance</th>
      <th>Sexe</th>
      <th>CIN</th>
      <th>Email</th>
      <th>Num Tel</th>
    </tr>
    <tr >
      <td>
        {{ citoyen?.iuc }}
      </td>
  
      <td>
        {{ citoyen?.nom }}
      </td>
      <td>
        {{ citoyen?.prenom }}
      </td>
      <td>
        {{ citoyen?.prenom_pere }}
      </td>
      <td>
        {{ citoyen?.prenom_grandpere }}
      </td>
      <td>
        {{ citoyen?.nom_mere }}
      </td>
      <td>
        {{ citoyen?.prenom_mere }}
      </td>
      <td>
        {{ citoyen?.date_de_naissance }}
      </td>
     
     
      <td>
       
      </td>
        
  </tr>
  </table>
</div>
 <button (click)="download()">Download</button>