
<ngb-alert *ngIf="erreur" style="background-color:#f55549"  _ngcontent-c5="" class="alert alert-danger" role="alert">
  <div _ngcontent-c5="" class="container"><div _ngcontent-c5="" class="alert-wrapper">
     <div _ngcontent-c5="" class="message">
      <div _ngcontent-c5="" class="alert-icon">
      <i _ngcontent-c5="" class="now-ui-icons ui-1_bell-53"></i></div>
  <strong _ngcontent-c5="">Erreur </strong>veuillez vérifier les coordonnées saisies</div></div></div></ngb-alert>
<div class="card card-login card-plain" style="margin-top: 50px;">
  <form ngNativeValidate class="form" #form="ngForm" (ngSubmit)="sendotp()">
    <div *ngIf="showspinner" class="d-flex justify-content-center"> 
      <div class="spinner-border" role="status"> 
          <span class="sr-only" id="loading"></span> 
      </div> 
  </div> 
  <div class="row">

      <div class="text-center col-md-6" style="    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
  ">
      
              <img src="../../assets/imageang/img3.svg" style = " height:80%;" >
        
          
           
      </div>
     

      <div class="content col-md-5">
        <div class="header header-primary text-center">
          <div class="category">
              <img src="../../assets/imageang/sms.svg" style ="width:40%;" >
          </div>
          
         
      </div>
         
        <h5 for="reclamation" >Veuillez entrer le code reçu par sms :</h5>

        <div class="input-group form-group-no-border input-lg" >
          
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
          </div>
          <input required type="number" class="form-control"    placeholder="999999" name="otp" [(ngModel)]="user.otp">
        </div>
        <div class=" text-center">
          <button type="submit"  class="btn btn-primary btn-round btn-lg btn-block">Login </button>
           
      </div>
      </div>
      
    </div>

      
  </form>
</div>


